<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0"
 xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 <display-name>Xiaobazaar</display-name>
 <servlet>
  <servlet-name>OwnerRegisterServlet</servlet-name>
  <servlet-class>servlet.OwnerRegisterServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>OwnerAuthServlet</servlet-name>
  <servlet-class>servlet.OwnerAuthServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>FileUploadServlet</servlet-name>
  <servlet-class>servlet.FileUploadServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>AdminThemeServlet</servlet-name>
  <servlet-class>servlet.AdminThemeServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>DesignerLoginServlet</servlet-name>
  <servlet-class>servlet.DesignerLoginServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>DesignerThemeServlet</servlet-name>
  <servlet-class>servlet.DesignerThemeServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>SaveThemeServlet</servlet-name>
  <servlet-class>servlet.SaveThemeServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>CreateThemeServlet</servlet-name>
  <servlet-class>servlet.CreateThemeServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>AdminLoginServlet</servlet-name>
  <servlet-class>servlet.AdminLoginServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ChangeThemeStatusServlet</servlet-name>
  <servlet-class>servlet.ChangeThemeStatusServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ChangeDesignerPassword</servlet-name>
  <servlet-class>servlet.ChangeDesignerPassword</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ChangeAdminPassword</servlet-name>
  <servlet-class>servlet.ChangeAdminPassword</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>LoadAdminProfile</servlet-name>
  <servlet-class>servlet.LoadAdminProfile</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>LoadDesignerProfile</servlet-name>
  <servlet-class>servlet.LoadDesignerProfile</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>AdminRegisterServlet</servlet-name>
  <servlet-class>servlet.AdminRegisterServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>DesignerRegisterServlet</servlet-name>
  <servlet-class>servlet.DesignerRegisterServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>OwnerRegisterServlet</servlet-name>
  <url-pattern>/owner/OwnerRegisterServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>OwnerAuthServlet</servlet-name>
  <url-pattern>/owner/OwnerAuthServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>FileUploadServlet</servlet-name>
  <url-pattern>/FileUploadServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AdminThemeServlet</servlet-name>
  <url-pattern>/getThemesForAdmin</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DesignerLoginServlet</servlet-name>
  <url-pattern>/designer/designerLogin</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DesignerThemeServlet</servlet-name>
  <url-pattern>/getThemesForDesigner</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>SaveThemeServlet</servlet-name>
  <url-pattern>/saveTheme</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CreateThemeServlet</servlet-name>
  <url-pattern>/createTheme</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AdminLoginServlet</servlet-name>
  <url-pattern>/admin/adminLogin</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ChangeThemeStatusServlet</servlet-name>
  <url-pattern>/admin/changeThemeStatus</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ChangeDesignerPassword</servlet-name>
  <url-pattern>/designer/changeDesignerPassword</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ChangeAdminPassword</servlet-name>
  <url-pattern>/admin/changeAdminPassword</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>LoadAdminProfile</servlet-name>
  <url-pattern>/admin/loadAdminProfile</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>LoadDesignerProfile</servlet-name>
  <url-pattern>/designer/loadDesignerProfile</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AdminRegisterServlet</servlet-name>
  <url-pattern>/admin/AdminRegisterServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DesignerRegisterServlet</servlet-name>
  <url-pattern>/designer/DesignerRegisterServlet</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>index.html</welcome-file>
 </welcome-file-list>
</web-app>
